.nav {
  font-size: 40px;
}

.navdesktop {
  display: none;
}
.display {
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
}
.features {
  text-align: center;
  padding: 10px;
  width: auto;
  height: 20px;
}
.btn {
  background: none;
  border: none;
}

@media (min-width: 768px) {
  .logo {
    width: 200px;
    height: 200px;
  }
  .nav {
    display: none;
  }
  .display {
    display: none;
  }
  .boxnav {
    margin-top: 100px;
    display: flex;
  }
  .navdesktop {
    max-width: 100%;
    margin-top: 20px;
    // margin-right: 100px;
    display: flex;
    justify-content: space-between;
  }
  .features {
    text-decoration: none;
    margin-right: 30px;
    // margin-top: 20px;
    text-align: center;
    padding: 10px;
    width: auto;
    height: 20px;
    font-size: 20px;
    color: hsl(229, 8%, 60%);
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
  }
  .features:hover {
    transform: scale(1.2);
    transform-origin: center;
  }
  .pricing {
    text-decoration: none;
    margin-right: 30px;
    // margin-top: 20px;
    text-align: center;
    padding: 10px;
    width: auto;
    height: 20px;
    font-size: 20px;

    color: hsl(229, 8%, 60%);
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
  }
  .pricing:hover {
    transform: scale(1.2);
    transform-origin: center;
  }
  .oferta {
    text-decoration: none;
    margin-right: 30px;
    // margin-top: 20px;

    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: auto;
    height: 20px;
    color: hsl(229, 8%, 60%);
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
  }
  .oferta:hover {
    transform: scale(1.2);
    transform-origin: center;
  }

  .contact {
    text-decoration: none;
    // margin-right: 30px;
    // margin-top: 20px;
    text-align: center;
    padding: 10px;
    width: auto;
    height: 20px;
    font-size: 20px;
    color: hsl(229, 8%, 60%);
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
  }
  .contact:hover {
    transform: scale(1.2);
    transform-origin: center;
  }
  .btn {
    cursor: pointer;
    margin-left: 60px;
    width: 150px;
    outline: none;
    height: 50px;
    border-radius: 8px;
    color: white;
    background-color: hsl(0, 94%, 66%);
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
  }
}
