.bg {
  width: 100%;

  margin-top: 80px;
  display: block;
  height: 100%;
  background-image: url(../../assets/beczki/8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  margin: 40px;
  width: 100px;
  height: 100px;
}

.icon {
  margin: 10px 20px 0 10px;
  transition: transform 0.3s ease-in-out;
}
.width {
  margin: 0 auto 0 auto;

  width: 90%;
  display: flex;
  flex-direction: column;
}

.content {
  // margin-left: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link {
  color: white;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  // margin-top: 15px;
  margin-right: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.odwiedz {
  margin-top: 40px;
}
.flexik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin: 0 auto;
}
.flexkolumn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 10px;
  color: black;
}
.phrase {
  color: black;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px auto 0 auto;
}

.phrase2 {
  color: yellow;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 50px auto 30px auto;
}
.style {
  text-decoration: none;
  color: yellow;
  font-size: 20px;
}
.tel {
  display: block;
  width: 80px;
  height: 60px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.email {
  display: block;

  margin-top: 10px;
  width: 70px;
  height: 60px;
  margin-bottom: 15px;
}

.posbutton {
  margin: 40px auto 90px auto;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: yellow;
  outline: none;
  cursor: pointer;
}
.pos {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .title {
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 30px;
    color: black;
  }
  .phrase {
    color: yellow;

    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px auto 0 auto;
  }
  .phrase2 {
    color: yellow;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto 30px auto;
  }

  .bg {
    width: 100%;
    margin-top: 80px;
    display: block;
    height: 350px;
    // background-image: url(../../assets/alpfoto/realiza/panorama.jpg);
    background-image: url(../../assets/beczki/8.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .logo {
    margin: 40px;
    width: 100px;
    height: 100px;
  }

  .icon {
    margin: 10px 20px 0 10px;
    transition: transform 0.3s ease-in-out;
  }
  .width {
    margin: 0 auto 0 auto;

    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

  .content {
    // margin-left: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .link {
    color: black;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    // margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .odwiedz {
    margin-top: 40px;
  }
  .flexik {
    // margin-left: 50px;
    // margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flexkolumn {
    display: flex;
    flex-direction: column;
  }
  .posbutton {
    margin: 0 auto 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: yellow;
    outline: none;
    cursor: pointer;
  }
}
